<div>
   <button type="button" id="success" class="btn btn-success">Success</button>
   <button type="button" id="danger" class="btn btn-danger">Error</button>
   <button type="button" id="warning" class="btn btn-warning">Warning</button>
   <button type="button" id="info" class="btn btn-info">Info</button>
</div>

<script>
   console.log('1');
   // var msg = @(TempData["Message"] != null ? Html.Raw(TempData["Message"]) : Html.Raw("undefined"));

   // toastr.options = {
   //    "timeOut": "6000"
   // }
   // toastr[msg.type](msg.message, msg.title);
   document.getElementById("success").addEventListener("click", () => {
      toastr['success']('Messsage', 'Title')
   });

   document.getElementById("danger").addEventListener("click", () => {
      toastr['error']('Messsage', 'Title')
   });

   document.getElementById("warning").addEventListener("click", () => {
      toastr['warning']('Messsage', 'Title')
   });

   document.getElementById("info").addEventListener("click", () => {
      toastr['info']('Messsage', 'Title')
   });



</script>